doctype html
html
	head
		title Index | Sample Real-Time Analytics
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src="/socket.io/socket.io.js")
		script(src="user-script.js")
	body
		header
			h1 Index
		section
			p This is the index page. Take a look at the <a href="/about">about</a> page.